body{
    background: #EBFCFB;
   
}

h2{
    background-color: #8499B1
}

.footer{
    background-color: #8499B1;
    color: white;
    text-align: center;
}

p,li,dl,figcaption{
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #301934;
}

h1{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #301934; 
}

 h2{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

a{
    color: #301934;
}

a:hover{
    color: #0000FF;
}

.destaque{
    font-style: inherit;
    text-decoration: underline;
}

.destaque2{
    text-shadow: 2px 2px 8px purple;
}

.destaque3{
    text-decoration: line-through;
    font-style: italic;
}

#header{
    text-align: center;
}

#foto-perfil{
    text-align: center;
}

img[src ="./figs/foto.jpeg"]{
    border-radius: 10%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: normal;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }